@model PaginatedList<GEFSDatabase1.Models.Suppliers>

@{
    ViewData["Title"] = "suppliers";
}

<h1>Supplier List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Suppliers" asp-action="Index" >
    <p>
        suppliers <input type="text" name="searchTerm"  value="@ViewData["CurrentFilter"]"/>
        <button type="submit" class="btn btn-primary">Search</button>
    </p>
</form>

<table class="table table-bordered table-striped table-hover">
    <thead>

        <tr>

            <th>
                Name
            </th>
            
            <th>
                Products
            </th>
 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Products.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SupplierID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SupplierID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SupplierID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>
